<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Addbrandservlet</servlet-name>
  	<display-name>Addbrandservlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.Addbrandservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetbrandnDetails</servlet-name>
  	<display-name>GetbrandnDetails</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.GetbrandnDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Addvmodel</servlet-name>
  	<display-name>Addvmodel</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.Addvmodel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Addvmodelservlet</servlet-name>
  	<display-name>Addvmodelservlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.Addvmodelservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Addproductservlet</servlet-name>
  	<display-name>Addproductservlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.Addproductservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Editproductservlet</servlet-name>
  	<display-name>Editproductservlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.Editproductservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Req_product</servlet-name>
  	<display-name>Req_product</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.Req_product</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Cartservlet</servlet-name>
  	<display-name>Cartservlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.Cartservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Delcartservlet</servlet-name>
  	<display-name>Delcartservlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.Delcartservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Orderservlet</servlet-name>
  	<display-name>Orderservlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.Orderservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addbrandservlet</servlet-name>
  	<url-pattern>/Addbrandservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetbrandnDetails</servlet-name>
  	<url-pattern>/GetbrandnDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addvmodel</servlet-name>
  	<url-pattern>/Addvmodel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addvmodelservlet</servlet-name>
  	<url-pattern>/Addvmodelservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addproductservlet</servlet-name>
  	<url-pattern>/Addproductservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Editproductservlet</servlet-name>
  	<url-pattern>/Editproductservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Req_product</servlet-name>
  	<url-pattern>/Req_product</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Cartservlet</servlet-name>
  	<url-pattern>/Cartservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Delcartservlet</servlet-name>
  	<url-pattern>/Delcartservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Orderservlet</servlet-name>
  	<url-pattern>/Orderservlet</url-pattern>
  </servlet-mapping>
</web-app>
